[*.cs]

# CS8634: Тип не может быть использован как параметр типа в универсальном типе или методе. Допустимость значения NULL для аргумента типа не соответствует ограничению "class".
dotnet_diagnostic.CS8634.severity = none
